html, html * {
    box-sizing: border-box;
    
}


main {
    background-color:#F0F8FF;
    min-height: 100vh;
    display: block; 
    border: 5px, gold; 
    margin: 20px; 
}

header {
    background-color: blanchedalmond;
    display: block;
    border: 10px, gold; 
    margin: 20px;
}